<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>sample</title>
</head>

<body>
    <div class="container">
        <header>
            <a Style="font-size: 12px; 
                width:60px; height: 30px; background-color: red; 
                color: white; text-decoration: none; 
                border-radius: 3px; text-align: center;padding: 5px 0px;margin-top: 10px;"  href="/" class="logout">logout</a>
            <form id="form">
                <input type="text" id="search" class="search" placeholder="Search"><small id="objects"></small>
                <div id="filters-container" Style="display: flex; width: 100%;justify-content: center;display: flex;align-items: center;margin-top: 10px;  ">
                   
                </div>
            </form>
        </header>


        <main id="main" class="mainli">
            <script src="admin.js"></script>

        </main>
    </div>
</body>

</html>