
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="spare.css" />
    <link rel="stylesheet" href="stylx.css">
</head>
<body>
  
  <div class="glass-container" >
  <div class="login-box">
      <div style="margin-top: -3rem;">
          <img class="flip" style="height: 80px;
          width: 80px;
          border-radius: 50px;
          margin-top: -30px;
          justify-content: center;
          position: relative;
          margin: auto;
          column-gap: 0rem;
          text-align: center;
          justify-content: center;
          margin-bottom: 0%;
          " src="../btn.jpg" alt="">         
      </div>
      <div>
          <h2 style="font-size: 18px;">imo State Government</h2>
          <h2 style="font-size: 23px;">Ministry of Education</h2>
          <p style="font-size: 11px;">Secondary Education Management Board</p>
      </div>
      <form style="margin-bottom: 30px;" action="/AGSSA" method="post" >
        <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52" style="margin-left: 2.5rem;">
          <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
          <path class="checkmark__check" fill="none" d="M14.1 14.1l23.8 23.8 m0,-23.8 l-23.8,23.8"/>
      </svg>
      <h2 >incorrect credentials</h2>
      </form>
      <a href="/" type="button" style="font-size: 15px; font-weight: bold;color: black;">Go back</a>
      
  </div>
</div>
</body>
</html>