<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="css/stylee.css">
</head>
<body style="background-color: blue;">
  
  <div class="glass-container" >
  <div class="login-box">
      <div style="margin-top: -3rem;">
          <img class="flip" style="height: 80px;
          width: 80px;
          border-radius: 50px;
          margin-top: -30px;
          justify-content: center;
          position: relative;
          margin: auto;
          column-gap: 0rem;
          text-align: center;
          justify-content: center;
          margin-bottom: 0%;
          " src="../btn.jpg" alt="">         
      </div>
      <div>
          <h2 style="font-size: 18px;">imo State Government</h2>
          <h2>Ministry of Education</h2>
          <p style="font-size: 13px;">Secondary Education Management Board</p>
      </div>
      <form style="margin-bottom: 30px;" action="/form" method="post" >

        <h2 style="margin-bottom: 10px;height: 5rem;width: auto;background-color: rgb(5, 58, 5);font-size: 20px;  opacity: 50%;padding: 5px 10px;justify-content: center;justify-self: center;">IMO SECONDARY EDUCATION MANAGEMENT BOARD</h2>
          
          <input type="number" id="Password" name="Password"required placeholder="put key number here">
       <button type="submit">ENTER</button>
      </form>
      <a href="/" type="button">Go back</a>
  </div>
</div>
</body>
</html>