<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="style.css" />
    <title>ISEMB ID SLIP</title>
  </head>
  <body style="background-image: url(op.JPG);background-repeat: no-repeat;background-size: 200%">
    <nav  class="navbar">
      <div class="container">
        <div class="logodiv">
          <img src="./btn.jpg" alt="" />
          <div style="display: block;">
            <p style="font-size: 15px;color: yellow;">Imo Secondary Education</p>
            <div class="logo">Management Board</div>
          </div>
        </div>
        <ul class="nav">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/id">ID Slip</a>
          </li>
          <li>
            <a href="/schools">Schools</a>
          </li>
        </ul>
      </div>
    </nav>
    <section class="boxes">   
      <div class="container">
          <div style="height: 60px; width: 400px; background-color: rgb(125, 185, 123);margin-top: 10px;border-radius: 10px;margin-bottom: 10px;" class="schools">
             <input style="width: 90%;height: 60%;border-radius: 10px;text-align: center;border-width: 0;font-size: 16px;" type="text" id="School"  placeholder="Search by school name...." onkeyup="myFunction()" >
          </div>
       </div>
       <div class="display">
          <ul id="myUL" >
            <section style="margin-bottom: 15px;"  class="boxef">
              <h2 class="schools">Schools Directory</h2>
              <div class="container">
                <div class="box">
                  <div style="display: flex;margin: 2px 0px;align-items: center;">
                    <img src="./inst.PNG" style="width: 18px;height: 18px;"><h2 style="margin-left: 10px;font-size: 17px;">Akwakuma Girls Sec. School</h2>
                  </div>
                  <div style="display: flex;margin: 2px 0px;align-items: center;">
                    <img src="./loc.PNG" style="width: 18px;height: 18px;"><p style="margin-left: 10px;font-size: 14px;">Phort Harcourt Rd, Owerri</p>
                  </div>
                  <div style="display: flex;align-items: center;">
                    <div style="display: flex;align-items: center; "><img src="./stud.PNG" style="width: 18px;height: 18px;"><p style="margin-left: 10px;font-size: 14px;">1000</p></div>
                    <div style="display: flex;align-items: center;margin-left: 40px;"><img src="./tell.PNG" style="width: 18px;height: 18px;"><p style="margin-left: 10px;font-size: 14px;">08037722780</p></div>
                  </div>
                </div>
        
                <div class="box">
                  <div style="display: flex;margin: 2px 0px;align-items: center;">
                    <img src="./inst.PNG" style="width: 18px;height: 18px;"><h2 style="margin-left: 10px;font-size: 17px;">Holy Ghost Sec. School</h2>
                  </div>
                  <div style="display: flex;margin: 2px 0px;align-items: center;">
                    <img src="./loc.PNG" style="width: 18px;height: 18px;"><p style="margin-left: 10px;font-size: 14px;">Assumpta Rd, Owerri</p>
                  </div>
                  <div style="display: flex;align-items: center;">
                    <div style="display: flex;align-items: center; "><img src="./stud.PNG" style="width: 18px;height: 18px;"><p style="margin-left: 10px;font-size: 14px;">1000</p></div>
                    <div style="display: flex;align-items: center;margin-left: 40px;"><img src="./tell.PNG" style="width: 18px;height: 18px;"><p style="margin-left: 10px;font-size: 14px;">08037722780</p></div>
                  </div>
                </div>
        
                <div class="box">
                  <div style="display: flex;margin: 2px 0px;align-items: center;">
                    <img src="./inst.PNG" style="width: 18px;height: 18px;"><h2 style="margin-left: 10px;font-size: 17px;">Owerri City Sec. School</h2>
                  </div>
                  <div style="display: flex;margin: 2px 0px;align-items: center;">
                    <img src="./loc.PNG" style="width: 18px;height: 18px;"><p style="margin-left: 10px;font-size: 14px;">Phort Harcourt Rd, Owerri</p>
                  </div>
                  <div style="display: flex;align-items: center;">
                    <div style="display: flex;align-items: center; "><img src="./stud.PNG" style="width: 18px;height: 18px;"><p style="margin-left: 10px;font-size: 14px;">1000</p></div>
                    <div style="display: flex;align-items: center;margin-left: 40px;"><img src="./tell.PNG" style="width: 18px;height: 18px;"><p style="margin-left: 10px;font-size: 14px;">08037722780</p></div>
                  </div>
                </div>
        
                <div class="box">
                  <div style="display: flex;margin: 2px 0px;align-items: center;">
                    <img src="./inst.PNG" style="width: 18px;height: 18px;"><h2 style="margin-left: 10px;font-size: 17px;">Ikenegbu Girls Sec. School</h2>
                  </div>
                  <div style="display: flex;margin: 2px 0px;align-items: center;">
                    <img src="./loc.PNG" style="width: 18px;height: 18px;"><p style="margin-left: 10px;font-size: 14px;">Phort Harcourt Rd, Owerri</p>
                  </div>
                  <div style="display: flex;align-items: center;">
                    <div style="display: flex;align-items: center; "><img src="./stud.PNG" style="width: 18px;height: 18px;"><p style="margin-left: 10px;font-size: 14px;">1000</p></div>
                    <div style="display: flex;align-items: center;margin-left: 40px;"><img src="./tell.PNG" style="width: 18px;height: 18px;"><p style="margin-left: 10px;font-size: 14px;">08037722780</p></div>
                  </div>
                </div>
                <div class="box">
                  <div style="display: flex;margin: 2px 0px;align-items: center;">
                    <img src="./inst.PNG" style="width: 18px;height: 18px;"><h2 style="margin-left: 10px;font-size: 17px;">Uratta Comm. Sec. School</h2>
                  </div>
                  <div style="display: flex;margin: 2px 0px;align-items: center;">
                    <img src="./loc.PNG" style="width: 18px;height: 18px;"><p style="margin-left: 10px;font-size: 14px;">Phort Harcourt Rd, Owerri</p>
                  </div>
                  <div style="display: flex;align-items: center;">
                    <div style="display: flex;align-items: center; "><img src="./stud.PNG" style="width: 18px;height: 18px;"><p style="margin-left: 10px;font-size: 14px;">1000</p></div>
                    <div style="display: flex;align-items: center;margin-left: 40px;"><img src="./tell.PNG" style="width: 18px;height: 18px;"><p style="margin-left: 10px;font-size: 14px;">08037722780</p></div>
                  </div>
                </div>
                <div class="box">
                  <div style="display: flex;margin: 2px 0px;align-items: center;">
                    <img src="./inst.PNG" style="width: 18px;height: 18px;"><h2 style="margin-left: 10px;font-size: 17px;">Akwakuma Girls Sec. School</h2>
                  </div>
                  <div style="display: flex;margin: 2px 0px;align-items: center;">
                    <img src="./loc.PNG" style="width: 18px;height: 18px;"><p style="margin-left: 10px;font-size: 14px;">Phort Harcourt Rd, Owerri</p>
                  </div>
                  <div style="display: flex;align-items: center;">
                    <div style="display: flex;align-items: center; "><img src="./stud.PNG" style="width: 18px;height: 18px;"><p style="margin-left: 10px;font-size: 14px;">1000</p></div>
                    <div style="display: flex;align-items: center;margin-left: 40px;"><img src="./tell.PNG" style="width: 18px;height: 18px;"><p style="margin-left: 10px;font-size: 14px;">08037722780</p></div>
                  </div>
                </div>
              </div>
            </section>
          </ul>
     </div>
    </section>
    <script>
      function myFunction() {
          var input, filter, ul, li, a, i, txtValue;
          input = document.getElementById("School");
          filter = input.value.toUpperCase();
          ul = document.getElementById("myUL");
          li = ul.getElementsByClassName("box");
          for (i = 0; i < li.length; i++) {
              a = li[i].getElementsByTagName("h2")[0];
              txtValue = a.textContent || a.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                  li[i].style.display = "";
              } else {
                  li[i].style.display = "none";
              }
          }
      }
      </script>
  </body>
</html>
